

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background-color: #f8f9fa; 
  }
  
  .loader {
    border: 8px solid rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
    border-top: 8px solid #007bff; 
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite; 
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
